# PORT
PORT = 

# DATABASE
POSTGRES_USER = 
POSTGRES_PASSWORD = 
POSTGRES_HOST = 
POSTGRES_PORT = 
POSTGRES_DATABASE = 

# TOKEN
SECRET_KEY = secretKey

# LOG
LOG_FORMAT = 
LOG_DIR = 

# CORS
ORIGIN =
CREDENTIALS = 


# NODEMAILER
NODEMAILER_USER =
NODEMAILER_HOST = 
NODEMAILER_PASS = 
NODEMAILER_PORT = 


# JWT
JWT_SECRET_KEY = 


# FRONTEND URL FOR REDIRECTING
FRONTEND_URL = 

# Stripe Payment Gateway
STRIPE_SECRET_KEY = 